@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Azeret Mono", monospace;
}
*{
    margin: 0;
    padding: 0;
}
/* in the near future whole section start here */
.hero-bg{
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    /* border: 2px solid red; */
    background-image: url(../assets/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
}
.near-future-container{
    width: 700px;
    height: 450px;
    /* border: 2px solid red; */
    margin: 0 auto;
    /* align-items: center; */
    margin-top: 25px;
    margin-bottom: 25px;
}
.near-future-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.near-future-content img{
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
}
.near-future-content h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 27px;
    font-weight: 800px;
}
.near-future-content p{
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: rgb(13, 19, 33);
    margin-bottom: 30px;
}
.btn{
    width: 208px;
    height: 55px;
    font-size: 20px;
    font-weight: 600px;
    background-color: rgb(13, 19, 33);
    color: white;
    border-radius: 8px;
}
/* in the future section end here  */
/* why development section start here  */
.development-container{
    width: 1000px;
     height: 1150px;
     /* border: 2px solid red ; */
     margin: 0 auto;
}
.development-content{
    width: 900px;
    height: 1020px;
    
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
    
}
.development-tittle{
    text-align: center;
    font-size: 27px;
    font-weight: 800px;
    margin-bottom: 20px;
    color: rgb(13, 19, 33,);
}
.development-description{
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: rgb(13, 19, 33);
    margin-bottom: 100px;
}
.codingworld-container,.web-container{
    width: 850px;
    height: 200px;
    /* border: 2px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    gap: 40px;
    
}
.codingworld-tittle,.web-tittle{
    font-size: 20px;
    font-weight: 700px;
    text-align: left;
    color: rgb(13, 19, 33,0.7);
    margin-top: 20px;
    margin-bottom: 30px;
}
.codingworld-description,.web-description{
    font-size: 12px;
    font-weight: 400px;
    margin-bottom: 30px;
    color: rgb(13, 19, 33);
}
.coding-btn{
    width: 109px;
    height: 24px;
    /* padding: 7px 10px 10px 10px; */
    border: 1px solid rgb(13, 19, 33);
    background-color: white;
}
.coding-image img,.web-image img{
    width: 240px;
    height: 210px; 
}

/* why development section end here  */
/* My inspiration Start here  */
.inspiration-container{
    width: 1000px;
    height: 650px;
    /* border: 2px solid red; */
    margin: 0 auto;
}
.inspiration-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.inspiration-tittle{
    font-size: 27px;
    font-weight: 800px;
    margin-bottom: 20px;
    color: rgb(13, 19, 33);
}
.inspiration-description{
    font-size: 12px;
    font-weight: 400px;
    color: rgb(13, 19, 33);
    align-items:center;
    margin-bottom: 80px;
    
}
.inspiration-video{
    width: 950px;
    height: 450px;
    /* border: 2px solid red; */
    margin: 0 auto;
    border: 1px solid rgb(13, 19, 33,0.2);
    border-radius: 15px;
}
.inspiration-video iframe{
    width: 920px;
    height: 420px;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 15px;
    
}
/* My inspiration section end here  */
/* My current target start here  */
.mytarget-container{
    width: 1000px;
    height: 370px;
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-top: 100px;
}
.mytarget-tittle{
    font-size: 27px;
    font-weight: 800px;
    color: rgb(13, 19, 33);
    text-align: center;
    margin-bottom: 10px;
}
.mytarget-description{
    font-size: 12px;
    font-weight: 400px;
    color: rgb(13, 19, 33);
    text-align: center;
}
.language-container{
    width: 1000px;
    height: 240px;
    /* border: 2px solid red; */
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
}
.html5{
    width: cover;
    background-color:  rgba(255, 76, 30, 0.05);
    border-radius: 15px;
    padding: 10px 10px;
}
.css{
    width: cover;
    background-color: rgba(0, 76, 232, 0.05);
    border-radius: 15px;
    padding: 10px 10px;
}
.javascript{
    width: cover;
    background-color: rgba(255, 223, 0, 0.05);
    border-radius: 15px;
    padding: 10px 10px;
}
.images{
    margin-top: 10px;
    margin-bottom: 20px;
}
.language-tittle{
    margin-bottom: 15px;
}
.language-description{
    margin-bottom: 20px;
}
.anchor{
    font-size: 16px;
    font-weight: 700;
    color: rgb(13, 19, 33);
}
/* My cuurent target end here  */
/* i need support start here  */
.support-container{
    width: 1000px;
    height: 300px;
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-top: 100px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(../assets/handshake.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}
.support-content{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.support-content h2{
    font-size: 27px;
    font-weight: 700;
    color: rgb(255,255,255);
    margin-bottom: 15px;
}
.support-content p{
    font-size: 12px;
    font-weight: 400px;
    color: rgb(255,255,255);
    margin-bottom: 40px;
}
.form input{
    width: 500px;
    height: 55px;
    padding-left: 20px;
    border-radius: 8px;
    color:rgb(13, 19, 33);
    background-color: rgb(255,255,255);
    border: none;
}
.form button{
    width: 200px;
    height: 55px;
    font-size: 20px;
    font-weight: 600px;
    color:rgb(13, 19, 33);
    background-color: rgb(255,255,255);
    border-radius: 8px;
    
}
/* i need support section wnd here  */
/* footer section start from here  */
footer{
    width: 1200px;
    height: 50px;
    /* border: 2px solid red; */
    
  
}
.footer-container{
    width: 1020px;
    height: 30px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}
.footer-description{
    font-size: 15px;
    font-weight: 600px;
    color: rgb(13, 19, 33);
}
.footer-images img{
    width: 27px;
    height: 27px;
    gap: 20px;
}
/* footer section end here  */