@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Azeret Mono", monospace;
}
*{
    margin: 0;
    padding: 0;
}
/* in the near future whole section start here */
.hero-bg{
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    /* border: 2px solid red; */
    background-image: url(../assets/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
}
.near-future-container{
    width: 700px;
    height: 450px;
    /* border: 2px solid red; */
    margin: 0 auto;
    /* align-items: center; */
    margin-top: 25px;
    margin-bottom: 25px;
}
.near-future-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.near-future-content img{
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
}
.near-future-content h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 27px;
    font-weight: 800px;
}
.near-future-content p{
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: rgb(13, 19, 33);
    margin-bottom: 30px;
}
.btn{
    width: 208px;
    height: 55px;
    font-size: 20px;
    font-weight: 600px;
    background-color: rgb(13, 19, 33);
    color: white;
    border-radius: 8px;
}
/* in the future section end here  */
/* why development section start here  */
.development-container{
    width: 1000px;
     height: 1150px;
     /* border: 2px solid red ; */
     margin: 0 auto;
}
.development-content{
    width: 900px;
    height: 1020px;
    
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
    
}
.development-tittle{
    text-align: center;
    font-size: 27px;
    font-weight: 800px;
    margin-bottom: 20px;
    color: rgb(13, 19, 33,);
}
.development-description{
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: rgb(13, 19, 33);
    margin-bottom: 100px;
}
.codingworld-container,.web-container{
    width: 850px;
    height: 200px;
    /* border: 2px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    gap: 40px;
    
}
.codingworld-tittle,.web-tittle{
    font-size: 20px;
    font-weight: 700px;
    text-align: left;
    color: rgb(13, 19, 33,0.7);
    margin-top: 20px;
    margin-bottom: 30px;
}
.codingworld-description,.web-description{
    font-size: 12px;
    font-weight: 400px;
    margin-bottom: 30px;
    color: rgb(13, 19, 33);
}
.coding-btn{
    width: 109px;
    height: 24px;
    /* padding: 7px 10px 10px 10px; */
    border: 1px solid rgb(13, 19, 33);
    background-color: white;
}
.coding-image img,.web-image img{
    width: 240px;
    height: 210px; 
}

/* why development section end here  */
/* My inspiration Start here  */
.inspiration-container{
    width: 1000px;
    height: 640px;
    border: 2px solid red;
    margin: 0 auto;
}
.inspiration-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.inspiration-tittle{
    font-size: 27px;
    font-weight: 800px;
    margin-bottom: 20px;
    color: rgb(13, 19, 33);
}
.inspiration-description{
    font-size: 12px;
    font-weight: 400px;
    color: rgb(13, 19, 33);
    text-align: center;
    margin-bottom: 80px;
}
.inspiration-video{
    width: 950px;
    height: 450px;
    border: 2px solid red;
    margin: 0 auto;
    border: 1px solid rgb(13, 19, 33,0.2);
    border-radius: 15px;
}
.inspiration-video iframe{
    width: 920px;
    height: 420px;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 15px;
    
}
/* My inspiration section end here  */